.search {
  width: 100%;
  padding: 10px 50px;
}

.input-icons img { 
  position: absolute;
} 

.input-icons {
  width: 370px;
  margin: auto;
} 

.searchIcon {
  padding: 10px;
  width: 50px;
  height: 50px;
}

.searchButton:hover {
  background-color: #5cbf2a;
  color: white;
}

form {
  position: relative;
  right: 20px;
}